<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Зарегестрирован</title>
</head>
<body>
<h1>Пользователь <span th:text="${user.getFirstName()}">FIRST NAME</span> успешно зарегестрирован</h1>
<button><a th:href="@{/users}">Список всех пользователей</a></button>
<button><a th:href="@{/create}">Создать пользователя</a></button>
</body>
</html>